.modal-backdrop {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__modal-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 60%;
    height: 70%;
    background-color: #ffffff;

    &__exitbtn {
      width: 100%;
      margin-top: 20px;
      padding: 5px 10px;
      display: flex;
      justify-content: flex-end;
      img {
        margin-right: 2rem;
        width: 3.5rem;
      }
      &:hover {
        filter: invert(65%) sepia(91%) saturate(691%) hue-rotate(346deg)
          brightness(96%) contrast(88%);
      }
    }

    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 4rem;
      color: black;
      margin-bottom: 1rem;
    }

    &__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 55%;
      margin-top: 2rem;

      &__introduce {
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;

        p {
          margin: 20px;
        }
      }
    }
  }
}
