$yellowButton: #ffdc9b; //공통 버튼 색
$orangeButton: #fdc65f;

.common-btn {
  width: 12rem;
  height: 4.4rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  border: 1.8px solid black;

  &.yellow {
    background: $yellowButton;
  }

  &.orange {
    background: $orangeButton;
  }

  &:hover {
    background: darken($yellowButton, 20%);
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.common-btn--selected {
    background: darken($yellowButton, 30%);
    border: 3px solid #f76504;
  }
}
