$yellowbutton: #fad795; //공통 버튼 색

.common-btn {
  width: 11rem;
  height: 4.4rem;
  border-radius: 1.5rem;
  background: $yellowbutton;
  font-size: 1.5rem;
  font-weight: 900;
  border: 1.8px solid black;
  &:hover {
    background: darken($yellowbutton, 10%);
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--selected {
    background: darken($yellowbutton, 10%);
    border: 3px solid #ffc21b;
  }
}
