@charset "UTF-8";
.slide-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;

  &__label {
    width: 15%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #acacac;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: white;
  }

  &__slide {
    width: 80%;
    margin-left: 3rem;

    &__slider {
      div {
        cursor: pointer;
        margin-right: 1rem;
      }
    }
  }

  &__detail {
    width: 30%;
    height: 4rem;
    background: #5b717c;
    border: 0px;
    border-radius: 5px;

    text-decoration: none;

    &__word {
      color: white;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
      line-height: 1.45;

      &:link &:active {
        text-decoration: none;
      }
    }
  }
}

.next {
  width: 1rem;
}
.prev {
  width: 1rem;
}
