@charset "UTF-8";

.slide-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  &__label {
    width: 20%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #acacac;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: white;
  }

  &__slide {
    width: 70%;
    margin-left: 3rem;

    &__word {
      width: 3rem;
      height: 4rem;
      background: #5b717c;
      border: 0px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
      line-height: 1.45;

      &:link &:active {
        text-decoration: none;
      }
      &:hover {
        background-color: #829fae;
      }
    }
  }
}
